:root {
    --primary-color: #006400;
    --secondary-color: #609C60;
    --background-color: #F0F0F0;
    --border-color: #DDD;
    --placeholder-color: #AAA;
    --text-color: #606060;
    --radius: 30px;
    --suggestion-radius: 10px;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

h2 {
    font-size: 1.7rem;
}

.search-container {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 700px;
    width: 100%;
}

.search-container input {
    width: 100%;
    padding: 10px 15px 10px 45px;
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    color: var(--text-color);
    outline: none;
    transition: box-shadow var(--transition-speed);
}

.search-container input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-container input::placeholder {
    color: var(--placeholder-color);
    font-weight: 500;
}

.search-button {
    position: absolute;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: transform var(--transition-speed);
}

.search-button:hover {
    transform: scale(1.1);
}

.search-button svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--placeholder-color);
}

#suggestions-list {
    z-index: 200;
    background: #fff;
    border: 1px solid var(--border-color);
    width: 90%;
    position: absolute;
    top: 100%;
    padding: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation-fill-mode: forwards;
    border-radius: var(--suggestion-radius);
}

.suggestion-item {
    cursor: pointer;
    width: 100%;
    transition: background-color var(--transition-speed);
    border-radius: var(--suggestion-radius);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}

.suggestion-item a {
    padding: 7px;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.2rem;
}

.suggestion-item a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

section {
    background-color: #fff;
    border-radius: var(--radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.institutes, .schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.institutes h2, .schedule h2 {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5em;
    text-align: center;
    position: sticky;
}

.institutes ul {
    list-style: none;
    padding: 5px 20px;
    margin: 0;
}

.groups li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

.groups li:last-child {
    border-bottom: 0;
}

.institutes div {
    border-bottom: 1px solid var(--border-color);
}

.institutes a, .institutes div {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration: none;
    transition: color var(--transition-speed);
}

.institutes a:hover, .institutes div:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.schedule table {
    padding: 20px;
}

.table-container {
    overflow-x: auto;
}

.courses, .groups {
    display: none;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.courses.open, .groups.open {
    display: block;
    max-height: 1000px;
}

.courses, .groups {
    display: none;
    opacity: 0;
    transform: scale(0);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.courses.open, .groups.open {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.institute-name,
.course-name {
    user-select: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
    table-layout: auto;
}

tr {
    color: var(--text-color);
    cursor: default;
}

tbody tr:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

th, td {
    font-size: 1.2rem;
    padding: 0.8em 1.2em;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

thead th {
    color: #fff;
}

thead {
    background-color: var(--primary-color);
}

table td:last-child, table th:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

.current-week {
    font-size: 2rem;
    line-height: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}

.container {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 0;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    max-width: 1000px;
}

.schedule-container {
    display: flex;
    gap: 2rem;
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.schedule-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.week-button {
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.7rem;
    width: 100%;
    text-align: center;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.week-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.week-button.active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary-color);
    color: white;
    cursor: default;
    pointer-events: none;
}

.week-button.active:hover {
    transform: none;
    background-color: var(--secondary-color);
}

@media (max-width: 1200px) and (min-width: 801px) {
    body {
        font-size: 16px;
    }

    .container, .schedule-container {
        max-width: 750px;
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    body {
        font-size: 14px;
    }

    .container, .schedule-container {
        max-width: 550px;
        flex-direction: column;
    }

    .schedule-selector {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
        flex-direction: column;
    }

    .container, .schedule-container {
        max-width: 350px;
        flex-direction: column;
    }

    .schedule-selector {
        flex-direction: column;
        gap: 1rem;
    }
}
