# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Virtual Environment
# =========================
ENV/
.venv
env.bak/
venv/
venv.bak/

# Environment variables
.env
.env.local
*.env

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# =========================
# PyCharm
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# OS
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =========================
# Editors
# =========================
*.swp
*.swo
*~
.vscode/