-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: kgau_schedule
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$870000$AJN8NhqsJiDHxDfltves36$d7Hl33a2WnE/MzyNkQtkcCu36QylYBjvQtCeP/UD788=','2025-01-10 15:43:01.267353',1,'admin','','','',1,1,'2025-01-10 15:42:25.466252');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(11,'schedule','classroom'),(8,'schedule','group'),(7,'schedule','institute'),(13,'schedule','lessontype'),(14,'schedule','schedule'),(10,'schedule','subject'),(9,'schedule','teacher'),(12,'schedule','timeslot'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('a6xesfolbmj9vekw5e3sg9yhblxpxdk4','.eJxVjDsOwyAQBe9CHSEByy9l-pwBLQsEJxFIxq6s3D1CcpG0b2bewQLuWw37yGtYErsywS6_W0R65TZBemJ7dE69besS-VT4SQe_95Tft9P9O6g46qxTBDRRa00ksYD2TgsthSPKCN4WK4SxxSXjlLDRepA5KwcOokFFnn2-5sE3jg:1tWHA5:dszjNCQaa4z7Cgwo5SXsxp-5mdxTaFuP6WFDAGtvLvY','2025-01-24 15:43:01.271604');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_classroom`
--

DROP TABLE IF EXISTS `schedule_classroom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_classroom` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `number` varchar(10) NOT NULL,
  `institute_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `schedule_classroom_institute_id_7c0417ea` (`institute_id`),
  CONSTRAINT `schedule_classroom_institute_id_7c0417ea_fk_schedule_` FOREIGN KEY (`institute_id`) REFERENCES `schedule_institute` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_classroom`
--

LOCK TABLES `schedule_classroom` WRITE;
/*!40000 ALTER TABLE `schedule_classroom` DISABLE KEYS */;
INSERT INTO `schedule_classroom` VALUES (1,'╨н304',1),(2,'╨н314',1);
/*!40000 ALTER TABLE `schedule_classroom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_group`
--

DROP TABLE IF EXISTS `schedule_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_group` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_name` varchar(20) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `institute_id` bigint NOT NULL,
  `start_year` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `schedule_group_institute_id_de98e0e2_fk_schedule_institute_id` (`institute_id`),
  CONSTRAINT `schedule_group_institute_id_de98e0e2_fk_schedule_institute_id` FOREIGN KEY (`institute_id`) REFERENCES `schedule_institute` (`id`),
  CONSTRAINT `schedule_group_chk_1` CHECK ((`start_year` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_group`
--

LOCK TABLES `schedule_group` WRITE;
/*!40000 ALTER TABLE `schedule_group` DISABLE KEYS */;
INSERT INTO `schedule_group` VALUES (1,'╨н-39.1-22╨╛','e-391-22o',1,2022),(2,'╨н-39.2-22╨╛','e-392-22o',1,2022);
/*!40000 ALTER TABLE `schedule_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_institute`
--

DROP TABLE IF EXISTS `schedule_institute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_institute` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `institute_name` varchar(60) NOT NULL,
  `address` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_institute`
--

LOCK TABLES `schedule_institute` WRITE;
/*!40000 ALTER TABLE `schedule_institute` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_institute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_lessontype`
--

DROP TABLE IF EXISTS `schedule_lessontype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_lessontype` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_lessontype`
--

LOCK TABLES `schedule_lessontype` WRITE;
/*!40000 ALTER TABLE `schedule_lessontype` DISABLE KEYS */;
INSERT INTO `schedule_lessontype` VALUES (3,'╨Ы╨░╨▒╨╛╤А╨░╤В╨╛╤А╨╜╨░╤П'),(1,'╨Ы╨╡╨║╤Ж╨╕╤П'),(2,'╨Я╤А╨░╨║╤В╨╕╨║╨░'),(4,'╨б╨╡╨╝╨╕╨╜╨░╤А');
/*!40000 ALTER TABLE `schedule_lessontype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_schedule`
--

DROP TABLE IF EXISTS `schedule_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_schedule` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `day_of_week` varchar(15) NOT NULL,
  `week_type` varchar(10) NOT NULL,
  `classroom_id` bigint NOT NULL,
  `group_id` bigint NOT NULL,
  `subject_id` bigint NOT NULL,
  `teacher_id` bigint NOT NULL,
  `time_slot_id` bigint NOT NULL,
  `lesson_type_id` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_schedule_constraint` (`day_of_week`,`week_type`,`time_slot_id`,`classroom_id`,`group_id`),
  KEY `schedule_schedule_classroom_id_e78b7d5b_fk_schedule_classroom_id` (`classroom_id`),
  KEY `schedule_schedule_group_id_4ffccde9_fk_schedule_group_id` (`group_id`),
  KEY `schedule_schedule_subject_id_0dcb0e0f_fk_schedule_subject_id` (`subject_id`),
  KEY `schedule_schedule_teacher_id_7c67d92b_fk_schedule_teacher_id` (`teacher_id`),
  KEY `schedule_schedule_time_slot_id_823a4d85_fk_schedule_timeslot_id` (`time_slot_id`),
  CONSTRAINT `schedule_schedule_classroom_id_e78b7d5b_fk_schedule_classroom_id` FOREIGN KEY (`classroom_id`) REFERENCES `schedule_classroom` (`id`),
  CONSTRAINT `schedule_schedule_group_id_4ffccde9_fk_schedule_group_id` FOREIGN KEY (`group_id`) REFERENCES `schedule_group` (`id`),
  CONSTRAINT `schedule_schedule_subject_id_0dcb0e0f_fk_schedule_subject_id` FOREIGN KEY (`subject_id`) REFERENCES `schedule_subject` (`id`),
  CONSTRAINT `schedule_schedule_teacher_id_7c67d92b_fk_schedule_teacher_id` FOREIGN KEY (`teacher_id`) REFERENCES `schedule_teacher` (`id`),
  CONSTRAINT `schedule_schedule_time_slot_id_823a4d85_fk_schedule_timeslot_id` FOREIGN KEY (`time_slot_id`) REFERENCES `schedule_timeslot` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_schedule`
--

LOCK TABLES `schedule_schedule` WRITE;
/*!40000 ALTER TABLE `schedule_schedule` DISABLE KEYS */;
INSERT INTO `schedule_schedule` VALUES (1,'╨Я╨╛╨╜╨╡╨┤╨╡╨╗╤М╨╜╨╕╨║','even',1,1,1,2,1,'3'),(2,'╨Я╨╛╨╜╨╡╨┤╨╡╨╗╤М╨╜╨╕╨║','even',2,1,2,1,2,'1');
/*!40000 ALTER TABLE `schedule_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_subject`
--

DROP TABLE IF EXISTS `schedule_subject`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_subject` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `subject_name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_subject`
--

LOCK TABLES `schedule_subject` WRITE;
/*!40000 ALTER TABLE `schedule_subject` DISABLE KEYS */;
INSERT INTO `schedule_subject` VALUES (1,'╨╕╨╜╤Д╨╛╤А╨╝╨░╤В╨╕╨║╨░'),(2,'╨Р╨▓╤В╨╛╨╝╨░╤В╨╕╨╖╨╕╤А╨╛╨▓╨░╨╜╨╜╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л ╨▒╤Г╤Е╨│╨░╨╗╤В╨╡╤А╤Б╨║╨╛╨│╨╛ ╤Г╤З╨╡╤В╨░ ╨▓ ╨░╨│╤А╨╛╨┐╤А╨╛╨╝╤Л╤И╨╗╨╡╨╜╨╜╨╛╨╝ ╨║╨╛╨╝╨┐╨╗╨╡╨║╤Б╨╡');
/*!40000 ALTER TABLE `schedule_subject` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_teacher`
--

DROP TABLE IF EXISTS `schedule_teacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_teacher` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `teacher_name` varchar(60) NOT NULL,
  `slug` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_teacher`
--

LOCK TABLES `schedule_teacher` WRITE;
/*!40000 ALTER TABLE `schedule_teacher` DISABLE KEYS */;
INSERT INTO `schedule_teacher` VALUES (1,'╨в╨╕╤В╨╛╨▓╤Б╨║╨╕╨╣ ╨б.╨Э.','titovskii-sn-1'),(2,'╨Я╤Г╨┐╨║╨╛╨▓ ╨Р.╨Э.','pupkov-an-2');
/*!40000 ALTER TABLE `schedule_teacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_timeslot`
--

DROP TABLE IF EXISTS `schedule_timeslot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_timeslot` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `start_time` time(6) NOT NULL,
  `end_time` time(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_timeslot`
--

LOCK TABLES `schedule_timeslot` WRITE;
/*!40000 ALTER TABLE `schedule_timeslot` DISABLE KEYS */;
INSERT INTO `schedule_timeslot` VALUES (1,'08:30:00.000000','10:00:00.000000'),(2,'10:15:00.000000','11:45:00.000000'),(3,'12:15:00.000000','13:45:00.000000'),(4,'14:00:00.000000','15:30:00.000000'),(5,'15:50:00.000000','17:20:00.000000'),(6,'17:30:00.000000','19:00:00.000000');
/*!40000 ALTER TABLE `schedule_timeslot` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-30 20:04:54
